@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set background color for small screens and background image for large screens */
body {
  background-color: white; /* Background color for small screens */
  font-family: ubuntu-regular;
}

@media (min-width: 765px) {
  body {
    background-image: url('/bg-img.jpg'); /* Background image for large screens */
    background-size: cover; /* Make sure the image covers the full screen */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

/* Custom font settings */
.font-bold {
  font-family: ubuntu-bold;
}

.font-medium {
  font-family: ubuntu-medium;
}

@font-face {
  font-family: ubuntu-regular;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: ubuntu-medium;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: ubuntu-bold;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
